<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<!--<form th:method="PATCH" th:action="@{/recordspage/{id}(id=${records.getId()})}" th:object="${records}">-->
    <form th:method="POST" th:action="@{/recordspage/{id}(id=${records.getId()})}" th:object="${records}">

    <label for="artist">Artist: </label>
    <input type="text" th:field="*{artist}" id="artist"/>
    <div style="color:red" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">Artist Error</div>
    <br/>

    <label for="album">Album: </label>
    <input type="text" th:field="*{album}" id="album"/>
    <div style="color:red" th:if="${#fields.hasErrors('album')}" th:errors="*{album}">Album Error</div>
    <br/>

    <label for="datarecording">Recording Date: </label>
    <input type="text" th:field="*{datarecording}" id="datarecording"/>
    <div style="color:red" th:if="${#fields.hasErrors('datarecording')}" th:errors="*{datarecording}">Recording Date
        Error
    </div>
    <br/>

    <label for="datareliase">Release Date: </label>
    <input type="text" th:field="*{datareliase}" id="datareliase"/>
    <div style="color:red" th:if="${#fields.hasErrors('datareliase')}" th:errors="*{datareliase}">Release Date Error
    </div>
    <br/>

    <label for="publhouse">Publishing House: </label>
    <input type="text" th:field="*{publhouse}" id="publhouse"/>
    <div style="color:red" th:if="${#fields.hasErrors('publhouse')}" th:errors="*{publhouse}">Publishing House Error
    </div>
    <br/>

    <label for="country">Country: </label>
    <input type="text" th:field="*{country}" id="country"/>
    <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country Error</div>
    <br/>

    <label for="genry">Genre: </label>
    <input type="text" th:field="*{genry}" id="genry"/>
    <div style="color:red" th:if="${#fields.hasErrors('genry')}" th:errors="*{genry}">Genre Error</div>
    <br/>

    <label for="numberoftracks">Number of Tracks: </label>
    <input type="text" th:field="*{numberoftracks}" id="numberoftracks"/>
    <div style="color:red" th:if="${#fields.hasErrors('numberoftracks')}" th:errors="*{numberoftracks}">Number of Tracks
        Error
    </div>
    <br/>

    <label for="numberofdisk">Number of Disks: </label>
    <input type="text" th:field="*{numberofdisk}" id="numberofdisk"/>
    <div style="color:red" th:if="${#fields.hasErrors('numberofdisk')}" th:errors="*{numberofdisk}">Number of Disks
        Error
    </div>
    <br/>

    <label for="conditions">Conditions: </label>
    <input type="text" th:field="*{conditions}" id="conditions"/>
    <div style="color:red" th:if="${#fields.hasErrors('conditions')}" th:errors="*{conditions}">Conditions Error</div>
    <br/>

    <input type="submit" value="Update Record"/>
</form>


</body>
</html>